<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Datsanbongonline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanli</display-name>
    <servlet-name>Quanli</servlet-name>
    <servlet-class>controller.Quanli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanli</servlet-name>
    <url-pattern>/Quanli</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dãnguat</display-name>
    <servlet-name>Dãnguat</servlet-name>
    <servlet-class>controller.Dãnguat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dãnguat</servlet-name>
    <url-pattern>/Dãnguat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuat</display-name>
    <servlet-name>DangXuat</servlet-name>
    <servlet-class>controller.DangXuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuat</servlet-name>
    <url-pattern>/DangXuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doibong</display-name>
    <servlet-name>Doibong</servlet-name>
    <servlet-class>controller.Doibong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doibong</servlet-name>
    <url-pattern>/Doibong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Timdoi</display-name>
    <servlet-name>Timdoi</servlet-name>
    <servlet-class>controller.Timdoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timdoi</servlet-name>
    <url-pattern>/Timdoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Datsannhanh</display-name>
    <servlet-name>Datsannhanh</servlet-name>
    <servlet-class>controller.Datsannhanh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datsannhanh</servlet-name>
    <url-pattern>/Datsannhanh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chitietsanbong</display-name>
    <servlet-name>Chitietsanbong</servlet-name>
    <servlet-class>controller.Chitietsanbong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chitietsanbong</servlet-name>
    <url-pattern>/Chitietsanbong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dangnhap</display-name>
    <servlet-name>Dangnhap</servlet-name>
    <servlet-class>controller.Dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dangnhap</servlet-name>
    <url-pattern>/Dangnhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Capnhat</display-name>
    <servlet-name>Capnhat</servlet-name>
    <servlet-class>controller.Capnhat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capnhat</servlet-name>
    <url-pattern>/Capnhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thongbao</display-name>
    <servlet-name>Thongbao</servlet-name>
    <servlet-class>controller.Thongbao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thongbao</servlet-name>
    <url-pattern>/Thongbao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanlidatsan</display-name>
    <servlet-name>Quanlidatsan</servlet-name>
    <servlet-class>controller.Quanlidatsan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanlidatsan</servlet-name>
    <url-pattern>/Quanlidatsan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanlitaikhoan</display-name>
    <servlet-name>Quanlitaikhoan</servlet-name>
    <servlet-class>controller.Quanlitaikhoan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanlitaikhoan</servlet-name>
    <url-pattern>/Quanlitaikhoan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Capnhattk</display-name>
    <servlet-name>Capnhattk</servlet-name>
    <servlet-class>controller.Capnhattk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capnhattk</servlet-name>
    <url-pattern>/Capnhattk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanlisan</display-name>
    <servlet-name>Quanlisan</servlet-name>
    <servlet-class>controller.Quanlisan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanlisan</servlet-name>
    <url-pattern>/Quanlisan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chitietsanbongb</display-name>
    <servlet-name>Chitietsanbongb</servlet-name>
    <servlet-class>controller.Chitietsanbongb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chitietsanbongb</servlet-name>
    <url-pattern>/Chitietsanbongb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Capnhatsb</display-name>
    <servlet-name>Capnhatsb</servlet-name>
    <servlet-class>controller.Capnhatsb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capnhatsb</servlet-name>
    <url-pattern>/Capnhatsb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chitietsanbong1</display-name>
    <servlet-name>Chitietsanbong1</servlet-name>
    <servlet-class>controller.Chitietsanbong1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chitietsanbong1</servlet-name>
    <url-pattern>/Chitietsanbong1</url-pattern>
  </servlet-mapping>
</web-app>